# Imports

In [1]:
import pandas as pd
import numpy as np

# Exercise 1.1 - Create a pandas Series from a list.

Create a `list` with the names of the items given in the cell below. Then create a `Series` using that list, using the order provided.

Note: Let pandas generate the index on its own.

In [5]:
# items (each of type string): beef, cheese, pulses, nuts, grains
items_list = ["beef", "cheese", "pulses", "nuts", "grains"]

# Create a series with the items above, and call it items_series
items_series = pd.Series(items_list)

In [6]:
# run this cell to see the results
items_series

0      beef
1    cheese
2    pulses
3      nuts
4    grains
dtype: object

# Exercise 1.2 - $CO_2$ equivalents

Let's now use the `items_list` as index and build a Series containing the kg $CO_2$ equivalents per item (the amount of $CO_2$ corresponding to the warming effect of greenhouse gases emitted during production of the item, [ref](https://www.science.org/doi/10.1126/science.aaq0216)).

In [8]:
# kg CO2 equivalents of the foods in items_list:
food_CO2 = np.array([50, 11, 0.8, 0.3, 2.7])

In [9]:
# Create a series which has items_list (created in exercise 1.1) as index,
# and the respective value in the food_CO2 list given in the cell above as values.
CO2_eq = pd.Series(data=food_CO2, index=items_list)

In [10]:
# run this cell to see the results
CO2_eq

beef      50.0
cheese    11.0
pulses     0.8
nuts       0.3
grains     2.7
dtype: float64

# Exercise 1.3 - What is the $CO_2$ equivalent of a beef?

**hint**: What makes more sense to use here `.loc` or `.iloc`?

In [21]:
beef_co2 = CO2_eq.loc["beef"]
beef_co2

np.float64(50.0)

# Exercise 1.4 - What is the $CO_2$ equivalent of the last item in our list?

**hint**: What makes more sense to use here `.loc` or `.iloc`?

In [14]:
last_item_co2 = CO2_eq.iloc[-1]
last_item_co2

np.float64(2.7)

# Exercise 1.5 - Create a Series from a dictionary

You have a grocery store with items and their quantities. (this sounds familiar...)

Create a dictionary to represent this data and then create a pandas series from that dictionary

In [18]:
storage_dictionary = {"oranges": 3, "bananas": 2, "apples": 19, "pears": 5}
storage_series = pd.Series(storage_dictionary)
storage_series

oranges     3
bananas     2
apples     19
pears       5
dtype: int64